* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
    text-decoration: none;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url("/Hafta1/images/redJungle.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: relative;
}

/* .bg-img {
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    position: absolute;

} */

.card-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    color: aliceblue;
    background: rgba(134, 132, 132, 0.26);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    border: 10px solid rgba(255, 255, 255, 0.623);
    box-shadow: 0px 0px 100px rgb(255, 255, 255);
}

.card-header {
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.card-subheader {
    text-align: left;

}

.card-subheader>h1,
.card-container h3,
.card-container h5 {
    margin: 0;
}

img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: 0px 0px 25px rgb(255, 255, 255)
}

.text-title {
    text-decoration: underline;
    margin: 15px 0;

}

.text-content {
    text-align: justify;
    margin: 0;
}

.contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.contents p {
    text-decoration: underline;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    transition: .3s ease-in-out;
}

a:hover {
    color: black;
    text-decoration: underline;
    transition: .3s ease-in-out;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: x-small;
}